<h2>User info</h2>
<%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: "jpg", fallback: "no_image.jpg" %>
<%= user.name %>
<%= user.introduction %>
<% if user.id == current_user.id %>
<%= link_to "edit", edit_user_path(user) %>
<% end %>

<h2>New book</h2>
<%= form_with model: book, url: books_path, local:true do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>
<%= f.label :option %>
<%= f.text_field :body %>
<%= f.submit "Create Book" %>
<% end %>