<% if @user.errors.any? %>
  <P><%= @user.errors.count %>errors prohibited this obj from being saved:</p>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h1>User info</h1>
<%= form_with model: @user, local:true do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :profile_image %>
<%= f.attachment_field :profile_image %>
<%= f.label :introduction %>
<%= f.text_area :introduction %>
<%= f.submit "Update User" %>
<% end %>